.main-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #1e3a8a;
  font-family: "Assistant", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: right;
}

.post-card {
  flex: 1 1 calc(33.333% - 24px);
  min-width: 280px;
  max-width: 100%;
  min-height: 400px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.post-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.post-image {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.post-content {
  padding: 16px;
  flex-grow: 1;
}

/* בינוני: 2 עמודות */
@media (max-width: 900px) {
  .post-card {
    flex: 1 1 calc(50% - 24px);
  }
}

/* מובייל: עמודה אחת */
@media (max-width: 600px) {
  .post-card {
    flex: 1 1 100%;
  }

  .post-content {
    padding: 14px;
  }
}

.load-more-btn {
  display: block;
  width: fit-content;
  padding: 12px 24px;
  margin: 40px auto;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-family: "Assistant", sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(30, 64, 175, 0.2);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.load-more-btn:hover {
  background-color: #1e40af;
  transform: translateY(-2px);
}
.load-more-btn:active {
  transform: translateY(0);
}

.card-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.card-animated {
  animation: popInLarge 0.3s ease-in-out forwards;
}

@keyframes popInLarge {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  @keyframes popInLarge {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}
